<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<table>
		<thead>
	      	<tr>
	        <th>ID</th>
	        <th>Property名</th>
	      	</tr>
    	</thead>
    	<tbody>
			<th>
			<tr th:each="property: ${propertyList}">
			<td th:text="${property.id}" />
			<td th:text="${property.Name}" />
			</tr>
			</th>	
    	</tbody>	
	</table>

	<table>
		<tr>
			<th>Salesforceのレコードを更新</th>
		</tr>
		
		<form th:action = "@{/heroku}" method="post">
	  	<tr>
		  <td>ID</td>
		  <td>:</td>
		  <td><input type="text" id = "Id" name = "Id" size="20"></td>
		</tr>
		<tr>
		  <td>建物名</td>
		  <td>:</td>
		  <td><input type="text" id = "newName" name = "newName" size="20"></td>
		</tr>
		<tr>
		  <td><input type ="submit" value = "HerokuConnectを使用して更新"/></td>
		</tr>
		</form>
	</table>
</body>
</html>
