<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html>

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/style.css}" rel="stylesheet"/>
	<title>ログイン画面</title>
</head>
<body>
<div class="box">
	<form th:action="@{/index}" method="post">
		<div th:if="${iserror}" style="color:red;">
			<p>ログインに失敗しました。やり直してください</p>
		</div>
		ユーザー名：<input type="text" name="username" required><br>
		パスワード：<input type="password" name="password" required><br>
		<input type="submit" value="ログイン"><br>
	</form>
</div>
</body>
</html>