<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Property更新結果</title>
</head>
<body>
	<table>
		<tr th:each="property: ${propertyList}">
		<tr>
		<th>ID</th>
	</tr>
	<td th:text="${property.id}" />
	<tr>
		<th>更新前</th>
	</tr>
	
	<td>更新前</td>
	<td>建物名</td>
    <td>:</td>
		<td th:text="${property.Name}" />
	</tr>
	
	<tr>
		<th>更新後</th>
	</tr>
    <tr>
    　　<td>更新後</td>
      <td>建物名</td>
    　　<td>:</td>
    　　<td th:text="${property.newName}" />
    </tr>
		</tr>		
	</table>
</body>
</html>